.about-me .section-container {

    width: 100%;
}

.about-me p {

    font-size: x-large;
}

.about-grid {

    width: 80%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    grid-template-rows: repeat(auto-fit, auto);

    gap: 5rem;
    padding: 30px;
    align-items: center;

    grid-auto-flow: row;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}

/* PARAGRAPH PART (RIGHT GRID) */

.about-grid .about-grid-paragraph {

    grid-column: 2 / 3;
    grid-row: 1 / 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: left;
}

.about-grid .about-grid-paragraph ul {

    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    
    list-style: none;
}

.about-grid .about-grid-paragraph ul li img {

    margin-right: 0.5rem;
}

.about-grid .about-grid-paragraph ul li a {

    color: black;
    text-decoration: none;
}

.about-grid .about-grid-paragraph ul li a:hover {

    color: var(--middle-bar-color);
    text-decoration: underline;

    transition: 0.3s;
}

/* PICTURE PART (LEFT GRID) */

.about-grid .about-grid-picture {

    grid-column: 1 / 2;
    grid-row: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-grid-picture img {

    max-width: 100%;
    max-height: 450px;

    min-height: 20px;

    border-radius: 20px;
    box-shadow: -2px 1px rgb(203, 203, 203);
}

/* 2XS */
@media (min-width: 1px) {

    .about-grid {

        margin-top: 1rem;
    }

    .about-grid .about-grid-picture {

        grid-column: 1 / 1;
        grid-row: 1 / 2;

        text-align: center;

        height: auto;
        max-height: 400px;
    }

    .about-grid .about-grid-paragraph {

        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }
}

/* XS */
@media (min-width: 475px) {

    .about-grid {

        margin-top: 1rem;
    }

    .about-grid .about-grid-picture {

        grid-column: 1 / 1;
        grid-row: 1 / 2;

        text-align: center;

        height: auto;
        max-height: 400px;
    }

    .about-grid .about-grid-paragraph {

        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }
}

/* SM */
@media (min-width: 640px) {

    .about-grid .about-grid-picture {

        grid-column: 1 / 1;
        grid-row: 1 / 2;

        height: auto;
        max-height: 400px;
    }

    .about-grid .about-grid-paragraph {

        grid-column: 1 / 1;
        grid-row: 2 / 3;

        text-align: center;
    }
}

/* MD */
@media (min-width: 800px) {

    .about-grid {

        margin-top: 0rem;
    }

    .about-grid .about-grid-picture {

        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }

    .about-grid .about-grid-paragraph {

        grid-column: 2 / 3;
        grid-row: 1 / 1;

        text-align: left;
    }
}

/* LG */
@media (min-width: 1024px) {}

/* XL */
@media (min-width: 1280px) {}

/* 2XL */
@media (min-width: 1536px) {}



