/* CONTACT SECTION BAR DESIGN */

.contact .outer-bar {

    height: 80%;
}

.contact .middle-bar {

    height: 60%;
}

.contact .inner-bar {

    height: 40%;
}

.contact .bar-container {

    align-items: start;
}

/* CONTACT SECTION CONTENT */

.contact-grid {

    margin-top: 1rem;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: repeat(auto-fit, auto);

    justify-content: center;
    gap: 1rem 1rem;

    grid-auto-flow: row;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}

/* FORM GRID */

.contact-grid .contact-form {

    width: 400px;
}

.contact form {

    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.text-field {

    padding: 0.5rem;
    border-radius: 5px;
    border: 0.2px solid #8A7F6A;
}

.contact-form #submit-btn {

    padding: 0.5rem;
    background-color: #8A7F6A;

    font-family: "Roboto";
    font-size: medium;
    color: #F6F4E4;

    border-radius: 5px;
    border: 0px;
}

/* AVAILABILITY GRID */

.contact .availability {

    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-items: center;
}

.contact .availability-status {

    display: flex;    
    align-items: center;
    gap: 0.5rem;
}

.contact #status-header {

    font-family: "Roboto-Medium";
    font-size: 50px;
}

.contact #status-statement {

    font-family: "Roboto-Medium";
    font-size: 30px;
}


#availability-signal {

    width: 10px;
    height: 10px;
    background-color: green;

    border-radius: 200px;
    border: 1px solid lightgreen;
}


/* 2XSM */
@media (min-width: 1px) {

    .contact-grid {

        grid-template-columns: repeat(auto-fit, auto);
        grid-template-rows: repeat(auto-fit, auto);

        padding: 1rem;
    }

    .contact-form {

        width: auto;
    }

    .availability {

        width: 10px;
    }
    
    .contact #status-header {
    
        font-family: "Roboto-Medium";
        font-size: 40px;
    }
    
    .contact #status-statement {
    
        font-family: "Roboto-Medium";
        font-size: 20px;
    }
}

/* XS */
@media (min-width: 475px) {

    .contact-grid {

        grid-template-columns: repeat(auto-fit, 400px);
        grid-template-rows: repeat(auto-fit, auto);

        padding: 0rem;
    }

    .contact-form {

        width: 400px;
    }

    .availability {

        width: 400px;
    }

    .availability {

        width: 200px;
    }
    
    .contact #status-header {
            
    
        font-family: "Roboto-Medium";
        font-size: 50px;
    }
    
    .contact #status-statement {
            
    
        font-family: "Roboto-Medium";
        font-size: 30px;
    }
}
