/* GENERAL SECTION DESIGN */

@keyframes arrow-bootup-anim {

    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes section-bootup-anim {

    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes bar-bootup-anim {

    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes arrow-anim {
    from {margin-bottom: 0px;}
    to {margin-bottom: 5px;}
  }

.arrow-down {

    padding: 0;
    margin: auto;

    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-top: 10px solid #8A7F6A;
}

.home-page {

    text-shadow: 1px 0px #bdbdbd;
    
}

.section-content-container {

    animation: section-bootup-anim 1.5s forwards;
}

.bar-container {

    animation: bar-bootup-anim 1s forwards;
}

.arrow-down {

    animation: arrow-bootup-anim 2.5s forwards;
}

.home-page .section-container {

    height: 100%;
}

.home-page .section-content-container {

    padding: 8px;
}

.home-page .outer-bar {

    height: 80%;
}

.home-page .middle-bar {

    height: 60%;
}

.home-page .inner-bar {

    height: 40%;
}

/* HOME PAGE TEXTS */

.home-page h1 {

    font-family: "Roboto-Bold";
    font-size: 135px;
}

.home-page p {

    font-size: 25px;
    text-align: center;
}

.home-page #bread-and-butter {

    font-family: "Roboto-Medium";
}

.home-page a {

    font-family: "Roboto-Light";
    font-size: xx-large;
    color: #8A7F6A;
}

/* HOME PAGE LINKS */
.home-page ul {

    margin-top: 50px;

    list-style: none;
    display: flex;
    gap: 5rem;
}

.home-page ul li {

    display: flex;
    flex-direction: column;
}


/* ANIMATION EFFECTS */
.home-page ul li a:hover {

   animation: arrow-anim 0.8s forwards;
}

/* 2XS */
@media (min-width: 1px) {

    .home-page h1 {

        font-size: 95px;
    }
    
    .home-page p {
    
        font-size: 20px;
    }

    .home-page a {

        font-size: 30px;
    }

    .home-page ul {

        display: block;   
        margin: 0 auto;     
    }

    .home-page ul li {

        margin-top: 10px;
    }
}

/* XS */
@media (min-width: 475px) {

    .home-page h1 {

        font-size: 95px;
    }
    
    .home-page p {
    
        font-size: 20px;
    }

    .home-page a {

        font-size: 30px;
    }

    .home-page ul {

        display: block;   
        margin: 0 auto;     
    }

    .home-page ul li {

        margin-top: 10px;
    }
}

/* SM */
@media (min-width: 696px) {

    .home-page h1 {

        font-size: 120px;
    }
    
    .home-page p {
    
        font-size: 25px;
    }

    .home-page a {

        font-size: 30px;
    }

    .home-page ul {

        gap: 0.5rem;
    }

    .home-page ul li {

        margin-top: 2px;
    }
}

/* MD */
@media (min-width: 768px) {

    .home-page ul {

        display: flex;
        gap: 3rem;
    }

    .home-page a {

        font-size: xx-large;
    }

    .home-page h1 {

        font-size: 135px;
    }
}

/* LG */
@media (min-width: 1024px) {

    .home-page ul {

        display: flex;
        gap: 5rem;
    }
}

/* XL */
@media (min-width: 1280px) {

    
}

/* 2XL */
@media (min-width: 1536px) {

  
}
