@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../assets/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../assets/fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../assets/fonts/roboto/Roboto-Light.ttf");
}

body {

    margin: 0 auto;
    background-color: #F6F4E4;

    font-family: "Roboto";
    color: #8A7F6A;
}

.section-container {

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}

.section-content-container {

    border: 1px solid red;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title-container {

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Roboto-Medium";
    text-shadow: 1px 0px #bdbdbd;
    font-size: 30px;
}

.section-title-underline {

    width: 80%;
    height: 2px;

    background-color: #8A7F6A;
}

.bar-container {

    border: 1px solid red;
    width: auto;

    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 0.5rem;
}

.bar {

    height: 100%;
    width: 35px;
}

.outer-bar {

    background-color: #A19B87;
}

.middle-bar {

    background-color: #C1B8A4;
}

.inner-bar {

    background-color: #E1D5B2;
}

/* 2XS */
@media (min-width: 1px) {

    .bar {

        max-width: 15px;
    }

    .bar-container {

        gap: 0;
    }

    .section-container {

        width: 100%;
    }
}

/* XS */
@media (min-width: 475px) {

    .bar {

        max-width: 15px;
    }

    .bar-container {

        gap: 0;
    }
}

/* SM */
@media (min-width: 640px) {

    .bar {

        max-width: 20px;
    }

    .bar-container {

        gap: 0;
    }
}

/* MD */
@media (min-width: 768px) {

    .bar {

        max-width: 25px;
    }

    .bar-container {

        gap: 0;
    }
}

/* LG */
@media (min-width: 1024px) {

    .bar {

        max-width: 35px;
    }

    .bar-container {

        gap: 0.5rem;
    }
}

/* XL */
@media (min-width: 1280px) {}

/* 2XL */
@media (min-width: 1536px) {}


