@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../assets/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../assets/fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../assets/fonts/roboto/Roboto-Light.ttf");
}

/* Classes (to be used throughout the website) */

body {

    margin: 0;
    padding: 0;
    background-color: #F6F4E4;

    font-family: "Roboto";
    color: #8A7F6A;  
}

.bars {

    display: flex;
    align-items: end;
    width: auto;
}

.section-content {

    width: 100%;    
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    align-items: center;
}

.section-title p {

    font-family: "Roboto-Bold";
    font-size: xx-large;

    text-align: center;
    margin: 0%;
    margin-top: 10%;
    padding: 0%;

    color: #8A7F6A;    
}

.section-title-underline {

    width: 100%;
    height: 1px;

    margin-bottom: 5%;

    background-color: #8A7F6A;
}

.middle-section {

    width: 100%;
    height: 100%;
    display: flex;
}

.middle-section .bars .outer-bar, .middle-bar, .inner-bar {

    height: 100%;
}

.outer-bar {

    background-color: #A19B87;
    width: 35px;
}

.middle-bar {

    background-color: #C1B8A4;
    width: 35px;

    margin-left: 5px;
    margin-right: 5px;
}

.inner-bar {

    background-color: #E1D5B2;
    width: 35px;
}

/* Home Page CSS */

header {
    
    text-align: center;
    font-family: "Roboto";
}

header h1 {

    font-family: "Roboto-Bold";
    font-size: 120px;
}

.beginning-section {

    width: 100%;
    height: 100%;
    
    color: #8A7F6A;

    display: flex;
}

.beginning-section h1, p, ul, a {

    text-shadow: 1px 0px #bdbdbd;
}

.beginning-section p {

    font-size: 28px;
}

.beginning-section ul {

    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}

.beginning-section li a {

    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-family: "Roboto-Light";
    font-size: xx-large;
    font-weight: 200;

    color: #8A7F6A;
    display: block;
    padding: 0px;
    margin: 0;
}

.beginning-section li .arrow-down {

    margin: auto;
}

.beginning-section li a:hover {

    margin-bottom: 10px;
    transition: 0.8s;
}

.beginning-section .outer-bar {
    height:80%;
}

.beginning-section .middle-bar {
    height:60%;
}

.beginning-section .inner-bar {
    height:40%;
}

.arrow-down {

    padding: 0;
    margin: 0;

    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-top: 10px solid #8A7F6A;
}

#bread-and-butter {

    font-family: "Roboto-Medium";
    margin-top: 5%
}

/* ABOUT ME CSS */

.about-section {    

    display: flex;
    justify-content: space-evenly;
    align-items: end;

    width: 100%;
    height: auto;
}

.about-section-paragraph {

    display: block;
    width: 50%;

    text-shadow: none;
}

.about-section-paragraph ul {

    list-style: none;   
}

.about-section-paragraph a {

    text-decoration: none; 
    color: black;
}

.about-section-paragraph a:hover {

    text-decoration: underline;
    color: #A19B87;

    transition: 0.3s;
}

.about-section-paragraph a img {

    text-decoration: none; 
    margin-right: 5%;
}

.about-section-picture {

    width: 30%;
    height: 50%;

    border-radius: 35px;
    box-shadow: 2px 2px #c6c6c6;
}
