.project-grid {

    width: 100%;
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    grid-template-rows: repeat(auto-fit, minmax(300px, 400px));

    justify-content: center;
    gap: 0.5rem;

    grid-auto-flow: row;
    grid-auto-columns: minmax(350px, 350px);
    grid-auto-rows: minmax(350px, 400px);
}

.project-grid-tile {

    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 1fr auto auto;

    text-align: center;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    border: 0px;

    background-color: var(--middle-bar-color);
    color: var(--background-color);
}

.project-grid-tile .project-image-space {

    grid-column: auto;
    grid-row: 1 / 2;
    background-color: var(--middle-bar-color);

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%
}

.project-grid-tile .project-image-space img {

    width: 80px;
    height: 80px;
}

.project-grid-tile h3 {

    grid-column: auto;
    grid-row: 2 / 3;
}

.project-grid-tile p {

    grid-column: auto;
    grid-row: 3 / 4;

    padding: 10px;
}

/* HIDDEN CLASSES (FOR STORING INFO ONLY) */

.project-details {

    display: none;
}

.project-technologies {

    display: none;
}

/* 

    PROJECT TILE ANIMATION

*/
.project-grid-tile:hover {

    margin: -5px;
    position: relative;
    transition: 0.5s;
}


/* 2XS */
@media (min-width: 1px) {

    .project-grid {

        grid-template-columns: repeat(auto-fit, 250px);
        grid-template-rows: repeat(auto-fit, 250px);
    }

    .project-grid-tile {

        grid-template-columns: 250px;
        grid-template-rows: 1fr auto auto;
    }
}

/* XS */
@media (min-width: 475px) {

    .project-grid {

        grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
        grid-template-rows: repeat(auto-fit, minmax(300px, 400px));
    }

    .project-grid-tile {

        grid-template-columns: 350px;
        grid-template-rows: 1fr auto auto;
    }
}

